/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Fonts *********************/

.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "aldrichregular";
  src:
    url("aldrich-regular-webfont.woff2") format("woff2"),
    url("aldrich-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.computere {
  font-family: "Do Hyeon", sans-serif;
  color: #9c3306;
  text-shadow: -2px 2px 1px rgb(0, 0, 0);
  font-size: 3rem;
}

/*computere farve #858582*/

.min_computer_title {
  font-family: "Do Hyeon", sans-serif;
  color: #7a5400;
  text-shadow: -2px 2px 1px rgb(0, 0, 0);
  font-size: 3rem;
}

/*min computer farve #919187*/

.op_title {
  font-family: "Do Hyeon", sans-serif;
  color: #0a6e3a;
  text-shadow: -2px 2px 1px rgb(0, 0, 0);
  font-size: 3rem;
}

/*operativ farve #a2a29b*/

.komponenter_title {
  font-family: "Do Hyeon", sans-serif;
  color: #0c4978;
  text-shadow: -2px 2px 1px rgb(0, 0, 0);
  font-size: 3rem;
}

/*komponent farve #94948f*/

.galleri_title {
  font-family: "Do Hyeon", sans-serif;
  color: #80368f;
  text-shadow: -2px 2px 1px rgb(0, 0, 0);
  font-size: 3rem;
}

/*galleri farve #919190*/

/*************** Farver *********************/
.color1 {
  color: #71a0a9;
}
.color2 {
  color: #324b4f;
}
.color3 {
  color: #c1dce2;
}
.color4 {
  color: #9f94b0;
}
.color5 {
  color: #6b617c;
}
.color6 {
  color: #832800;
}
.color7 {
  color: #ffe9d0;
}
/*************** Margin ***************/

h1 {
  margin-block: 3rem 0.8rem;
}
h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
p {
  margin-bottom: 1.3rem;
}

main {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  padding-block: 0.1rem;
}
.billede {
  margin-right: 2rem;
  margin-bottom: 0.3rem;
  padding-block: 0.19rem;
}
.after_image {
  margin-block: 5rem 0.8rem;
}
dl {
  margin-bottom: 4rem;
  margin-top: 2rem;
}
dd {
  margin-bottom: 0.7rem;
}
.min_computer_link {
  margin-left: 1rem;
}

footer {
  margin-top: 1rem;
  padding-left: 1.1rem;
}
/*************** Baggrunde ***************/

.forside {
  background-color: #fcbcbc;
}
.min_computer {
  background-color: #ffe9d0;
}

.operativsystemer {
  background-color: #d2efda;
}
.komponenter {
  background-color: #c1dce2;
}
.galleri {
  background-color: #f9d7f2;
}

p {
  font-family: "aldrichregular";
  font-size: 1rem;
  font-weight: normal;
}
